.App {
  text-align: center;
}

/* DARK MODE */

body.dark-mode .home-container{
  background-color: #0e1a24;
  color: #ffffff;
}

body.dark-mode .about-container{
  background-color: #23415a;
  color: #ffffff;
}

body.dark-mode .experience-container{
  background-color: #0e1a24;
  color: #ffffff;
}

body.dark-mode .social-media-icons a{
  color: white;
}

/* DARK MODE */

.content {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Align items to the left */
  padding: 0 50px; /* Add horizontal padding if needed */
  margin-top: 25px;
  
}

/* Text content styling */
.text-content {
  margin-left: 50px; /* Space between text and image */
  margin-top: 0px;
}

.name-header {
  font-size: 69px;
  font-weight: bold;
  margin: 0;
}

.title{
  font-size: 30px;
  font-weight: bold;
  margin-left: -310px;
  
}

.little-about{
  font-size: 19px;
  margin-top: 5px;
  margin-left: -475px;
}

.blob {
  background-image: url(https://i.imgur.com/IQuCr5D.jpeg);
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center center;
  margin: 20px; /* Existing margin */
  margin-left: 200px; /* Adjust this value as needed to move the blob to the right */
  margin-top: 150px;
  box-shadow: 0 5px 5px 5px rgba(13,110,253,0.2);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

.singleCol {
  max-width: 750px;
  margin-top: 420px;
  margin-left: -595px;
}

.social-media-icons a{
  color: black;
  font-size: 2rem;
  margin: 0 10px;
}






.content2 {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  height: 100%; /* Take full height of the container */
  padding: 0; /* Remove padding if any */
}

.aboutme{
  font-size: 55px;
  font-weight: bold;
  margin: 0;
}

.learnmore{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.aboutme-content{
  font-size: 18px;
  margin-top: 51px;
  margin-left: 451px;
  margin-right: 451px;
  text-align: justify;
}





.content3{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items vertically */
  height: 100%; /* Take full height of the container */
  padding: 0; /* Remove padding if any */
}

.experience{
  font-size: 55px;
  font-weight: bold;
  margin: 0;
  margin-top:150px;
}

.seemyjourney{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.experience-container2 {
  background-color: white;
  height: 75vh;
  width: 100vh;
  display: flex;
  align-items: flex-start; /* Center items vertically */
  justify-content: flex-start; /* Align items to the left */
  padding: 0 50px; /* Add horizontal padding if needed */
  margin-top: 100px;
  margin-left: -500px;
}

.experience-content{
  font-size: 20px;
  margin: 0;
  margin-top: 50px;
  margin-right:150px;
  text-align:left;
}

.experience-content2{
  text-align:left;
}


.experience-button-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  margin-left: 750px; /* Adjust margin as needed */
  margin-top: -300px;
}









.home-container {
  background-color: whitesmoke; /* Light blue */
  height: 100vh; /* Full viewport height */
}

.about-container {
  background-color: white; /* Light blue */
  height: 150vh; /* Full viewport height */
}

.experience-container {
  background-color: whitesmoke; /* Light blue */
  height: 250vh; /* Full viewport height */
}






html {
  scroll-behavior: smooth;
}

@keyframes animate{
  0%, 100%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}
